APP_NAME=cre
APP_ENV=local
APP_KEY=base64:i7uPzcipQo5qDvFsdl90n0vXyM9fXSJD2An1A2uTIAY=
APP_DEBUG=true
APP_URL=http://localhost:8001
APP_PORT=8001


LOG_CHANNEL=stack
LOG_DEPRECATIONS_CHANNEL=null
LOG_LEVEL=debug


DB_CONNECTION=pgsql
DB_HOST=pgsql
DB_PORT=5432
DB_DATABASE=cre
DB_USERNAME=sail
DB_PASSWORD=password

BROADCAST_DRIVER=log
CACHE_DRIVER=file
FILESYSTEM_DRIVER=local
QUEUE_CONNECTION=sync
SESSION_DRIVER=file
SESSION_LIFETIME=120

MEMCACHED_HOST=memcached

REDIS_HOST=redis
REDIS_PASSWORD=null
REDIS_PORT=6379

MAIL_MAILER=smtp
MAIL_HOST=mailhog
MAIL_PORT=1025
MAIL_USERNAME=null
MAIL_PASSWORD=null
MAIL_ENCRYPTION=null
MAIL_FROM_ADDRESS=null
MAIL_FROM_NAME="${APP_NAME}"

AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
AWS_DEFAULT_REGION=us-east-1
AWS_BUCKET=
AWS_USE_PATH_STYLE_ENDPOINT=false

PUSHER_APP_ID=
PUSHER_APP_KEY=
PUSHER_APP_SECRET=
PUSHER_APP_CLUSTER=mt1

MIX_PUSHER_APP_KEY="${PUSHER_APP_KEY}"
MIX_PUSHER_APP_CLUSTER="${PUSHER_APP_CLUSTER}"

AZURE_TENANT_ID=019ac196-997d-4f1c-b9d4-6e7f3cdfa0f5
AZURE_CLIENT_ID=bdc7ff58-af5c-4cb0-977e-c5b6d92b02be
AZURE_CLIENT_SECRET=lp37Q~zzXpJpC7jmn2tYJP9UIdEalAPZE_jFz
AZURE_RESOURCE_ID_P=4e7537c4-af92-490d-a339-849cc9ecb821
AZURE_RESOURCE_ID=6fb16186-4560-4eb7-acc6-6681d2bc1963
AZURE_RESOURCE=https://graph.microsoft.com
AZURE_REDIRECT_LOGOUT=http://localhost:8001

# Azure Storage
AZURE_STORAGE_NAME=
AZURE_STORAGE_KEY=
AZURE_STORAGE_CONTAINER=
AZURE_STORAGE_URL=

MEDIA_DISK=public

SAIL_XDEBUG_MODE=develop,debug
