/node_modules
/public/mix.js
/storage/*.key
/storage/
/vendor/
/.idea/
.env
/public/mix-manifest.json
/public/css
/public/js
/public/img
/public/vendor
.vscode
.DS_Store
yarn.lock
_ide_helper.php
.phpstorm.meta.php
.phpunit.result.cache